@-webkit-keyframes pulsate { 0% { -webkit-transform: scale(0.1); opacity: 0; } 50% { opacity: 1; } 100% { -webkit-transform: scale(1.2); opacity: 0; } }
@-moz-keyframes pulsate { 0% { -moz-transform: scale(0.1); opacity: 0; } 50% { opacity: 1; } 100% { -moz-transform: scale(1.2); opacity: 0; } }
@-ms-keyframes pulsate { 0% { -ms-transform: scale(0.1); opacity: 0; } 50% { opacity: 1; } 100% { -ms-transform: scale(1.2); opacity: 0; } }
@-o-keyframes pulsate { 0% { -o-transform: scale(0.1); opacity: 0; } 50% { opacity: 1; } 100% { -o-transform: scale(1.2); opacity: 0; } }
@keyframes pulsate { 0% { transform: scale(0.1); opacity: 0; } 50% { opacity: 1; } 100% { transform: scale(1.2); opacity: 0; } }

html, body {
  height: 100%;
  position: relative;
}

body {
  overflow: auto;
}

rv-require:not(.rv-require-loaded), rv-partial {
  display: none;
}

.navbar-item a {
  cursor: pointer;
}

#container {
  position: relative;
}

#navigation {
  position: absolute;
  top: 0;
  width: 203px;
  overflow-x: hidden;
  overflow-y: auto;
}

#navigation.fixed {
  position: fixed;
}

#navigation > ul {
  margin: 0;
  padding: 2rem 0 0;
}

#navigation ul ul {
  margin-left: 2rem;
}

#navigation .title-1-container {
  list-style: none;
  padding-bottom: 1rem;
}

#navigation .title-1 {
  text-decoration: none;
  font-size: 2rem;
}

#navigation .title-2-container {
  list-style: none;
}

#navigation .title-2 {
  text-decoration: none;
  font-size: 1.6rem;
}

#content {
  margin-left: 26%;
}

#content h2, #content h3 {
  padding-top: 4rem;
}

#content h2:first-child {
  padding-top: 2rem;
}

#content .h-no-top {
  padding-top: 0;
}

body > .container {
  max-width: 924px;
}

.header {
  margin-top: 6rem;
  text-align: center;
  margin-bottom: 4rem;
}

.navbar {
  display: none;
}

.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
}

.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}

.title img {
  width: 580px;
  max-width: 100%;
}

.prettyprint.code-file {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 1px 7px;
  background: #eee;
}

.code-example {
  position: relative;
  margin-top: 0;
  margin-bottom: 2rem;
  white-space: normal;
}

.code-example-body {
  white-space: pre;
  word-wrap: break-word;
}

.pl-nav-page, .pl-nav-page:hover, .pl-nav-page:visited {
  cursor: pointer;
  text-decoration: underline;
}

.user-badge {
  border: 2px solid red;
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.sharing {
  margin-top: 60px;
}

.header h2 {
  font-size: 3rem;
}

.fb-share-button {
  display: inline-block;
  vertical-align: top;
}

.lv-item {
  height: 34px;
  margin-bottom: 0;
  border-bottom: 1px solid black;
  line-height: 33px;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
}

.anchor {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

h2 .anchor, h3 .anchor {
  top: 4rem;
}

.h-no-top .anchor {
  top: 0;
}

.anchor .icon-link {
  display: none;
}

h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  text-decoration: none;
}

h1:hover .anchor .icon-link,
h2:hover .anchor .icon-link,
h3:hover .anchor .icon-link,
h4:hover .anchor .icon-link,
h5:hover .anchor .icon-link,
h6:hover .anchor .icon-link {
  display: inline-block;
}

.container-example {
  position: relative;
  overflow: hidden;
}

.container-example .content-example {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.example-view {
  position: relative;
  border: 1px solid #ececec;
  padding: 5.2rem 1rem 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.example-view:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4.2rem;
  background: #ececec url("browser-icons.png") no-repeat 1.4rem 1.2rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.example-dom {
  margin-top: -2px;
  position: relative;
  border: 1px solid #ececec !important;
  border-top-color: #333 !important;
  padding: 3.2rem 1rem 1rem !important;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-y: visible !important;
}

.example-dom:before {
  content: "DOM";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2.2rem;
  background: #ececec;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.example-dom-comment {
  position: absolute;
}

.example-dom-comment-content {
  display: none;
}

.example-dom-comment.opened {
  z-index: 2;
}

.example-dom-comment.opened .example-dom-comment-content {
  display: block;
}

.example-dom-comment-button {
  z-index: 1;
  position: relative;
  background: white;
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
  border: 0;
  float: left;
  box-shadow: 0 0 1rem #666;
  outline: none;
  padding: 0;
  margin: 0;
  line-height: 2rem;
}

.example-dom-comment-button:before {
  z-index: -1;
  position: absolute;
  background: transparent;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0 1rem #666;
  content: "";
  background: white;
  height: 3.2rem;
  width: 3.2rem;
  display: block;
  left: -0.4rem;
  top: -0.4rem;
  padding: 0;
  margin: 0;
  -webkit-animation: pulsate 1.5s infinite ease-out;
  -moz-animation: pulsate 1.5s infinite ease-out;
  -ms-animation: pulsate 1.5s infinite ease-out;
  -o-animation: pulsate 1.5s infinite ease-out;
  animation: pulsate 1.5s infinite ease-out;
}

.example-dom-comment-content {
  position: absolute;
  left: 2rem;
  background: #333;
  color: white;
  padding: 0.2em 0.7em;
  top: -0.3em;
  border-radius: 1rem;
  white-space: nowrap;
}

@media (max-width: 1038px) {
  body > .container {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 1rem;
  }
}

@media (max-width: 888px) {
  #navigation, #navigation.fixed {
    position: relative;
    width: 100%;
    height: auto !important;
  }

  #content {
    margin: 0;
    width: 100%;
  }
}

@media (min-width: 550px) {
  .header {
    margin-top: 5rem;
  }

  .docs-section {
    padding: 7rem 0;
  }
}

@media (min-width: 750px) {

  .navbar + .docs-section {
    border-top-width: 0;
  }

  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .navbar-spacer {
    display: none;
  }

  .navbar > .container {
    width: 100%;
  }

  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }

  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
  }

  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }

  .navbar-link.active {
    color: #33C3F0;
  }

  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
  }
  .has-docked-nav .navbar-spacer {
    display: block;
  }

  .has-docked-nav .navbar > .container {
    width: 80%;
  }

  .popover.open {
    display: block;
  }

  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
  }

  .popover-item:first-child .popover-link:after,
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }

  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px;
  }

  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .popover-item {
    padding: 0;
    margin: 0;
  }

  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem;
  }

  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0;
  }

  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0;
  }

  .popover-link:hover {
    color: #fff;
    background: #33C3F0;
  }

  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0;
  }
}

blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
  margin-left: 1rem;
}

.highlight pre, .highlight pre.prettyprint {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: none;
}

.highlight {
  font-size: 14px;
  margin-bottom: 16px;
}

.pl-c {
  color: #969896;
}

.pl-c1,.pl-s .pl-v {
  color: #0086b3;
}

.pl-e,.pl-en {
  color: #795da3;
}

.pl-s .pl-s1,.pl-smi {
  color: #333;
}

.pl-ent {
  color: #63a35c;
}

.pl-k {
  color: #a71d5d;
}

.pl-pds,.pl-s,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,.pl-sr .pl-sre {
  color: #183691;
}

.pl-v {
  color: #ed6a43;
}

.pl-id {
  color: #b52a1d;
}

.pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.pl-ml {
  color: #693a17;
}

.pl-mh,.pl-mh .pl-en,.pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.pl-mq {
  color: #008080;
}

.pl-mi {
  color: #333;
  font-style: italic;
}

.pl-mb {
  color: #333;
  font-weight: bold;
}

.pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.pl-mo {
  color: #1d3e81;
}